@charset "utf-8";

.inner {
    width: 1120px;
    position: relative;
    padding-bottom: 50px;

}


.fixed {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
}

i {
    font-size: 10px;
}

p {
    font-size: 14px;
}

span {
    font-size: 16px;
}

h2 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 9px;
}

h6 {
    font-size: 8px;
}

header {

    border-bottom: 1px solid #C7C7C7;
    background: #fff;
}


header .inner {
    height: 120px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0;
}

header .inner ul.nav_menu {
    width: 240px;
    height: 320px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #00000017;
    position: absolute;
    right: 0;
    top: 110px;
    z-index: 60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;

}

header .inner ul.nav_menu.on {
    display: flex;
}

header .inner ul.nav_menu li {
    width: 100%;
    cursor: pointer;
}

header .inner ul.nav_menu li:nth-child(4),
header .inner ul.nav_menu li:nth-child(6) {
    padding-top: 6px;
    margin-top: 6px;
    border-top: 1px solid #C7C7C7;
}

header .inner ul.nav_menu li p {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40px;
}

header .inner ul.nav_menu li p:hover {
    background: #f4f4f4;
}

header .inner ul.search {
    width: 855px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 34px;
    border-radius: 33px;
    border: 1px solid #C7C7C7;
    box-shadow: 3px 3px 20px #00000017;
}

header .inner .user {
    width: 263px;
    height: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .inner .user a {
    font-size: 14px;
    text-decoration: underline;
}

header .inner .user .profile {
    padding: 6px 14px 6px 6px;
    width: 156px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #291B3C;
    border-radius: 28px;
}

header .inner .user .profile p {
    font-weight: 800;
}

/*  컨텐츠 시작 */
.registration {
    margin-top: 120px;
    padding-top: 32px;
}

.registration .title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.pro {

    margin-top: 20px;
    position: relative;
    width: 100%;
    margin-bottom: 40px;

}

.pro img {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    display: none;
    transition: opacity 0.3s ease;
}

.pro img.active {
    display: block;
    opacity: 1;
    /* 활성 이미지의 투명도 조정 */
    transition: all 0.7s;
}

.num_box {
    width: 84px;
    height: 27px;
    display: flex;
    justify-content: space-between;
}

.num_box button {
    width: 27px;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C7C7C7;
}

i.fa-check {
    width: 16px;
    height: 16px;
    background: #ed5977;
    color: #fff;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    position: absolute;
}

button.pink {
    background: #ed5977;
}

button.pink span {
    color: #fff;
}

.page_ac {
    width: 100%;
    overflow: hidden;
}

.page_move {
    width: 300%;
    display: flex;
}

.page_rolling {
    width: 100%;
    height: 616px;

}

.page_rolling.active {}

.page_rolling .icon_box li {
    width: 75px;
    position: relative;
    height: 75px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px #00000017;
    margin-bottom: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding-top: 12px;

}

.page_rolling .icon_box li.on {
    border: 1.5px solid #ed5977;

}

.page_rolling .icon_box li i.fa-check {
    top: -8px;
    display: none;
}

.page_rolling .icon_box li .img_b {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5px;

}

.page_rolling .icon_box li img {}

.page_rolling .icon_box li h5 {
    color: #9E9E9E;
    font-weight: 600;
    line-height: 1.1;
}


/* .page_rolling.page_r1 .icon_box li:nth-child(6n) h5{bottom: 6px;} */
.page_rolling .icon_box li.on h5 {
    color: #ed5977;
}

.page_rolling .icon_box li.on i.fa-check {
    display: block;
}


.page_rolling .select_btn button {
    width: 198px;
    height: 44px;
    border: 1px solid #9E9E9E;
    position: relative;
    margin-right: 11px;
    border-radius: 0;
}

.page_rolling .select_btn button.on {
    border: 1.5px solid #ed5977;
}

.page_rolling .select_btn button p {
    color: #9d9d9d;
}

.page_rolling .select_btn button.on p {
    color: #ed5977;
}

.page_rolling .select_btn button i {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.page_rolling .select_btn button.on i {
    display: block;
}

/* STEP1 시작~ */
.page_r1 {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.page_r1 .p_left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.page_r1 .p_left h4 {
    margin-bottom: 32px;
}

.page_r1 .p_left .s_category {}

.page_r1 .p_left .s_category .icon_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.page_r1 .p_left .s_location {
    width: 100%;
}

.page_r1 .p_left .s_location input,
.page_r1 .p_left .s_location button {
    height: 38px;
    border-radius: 5px;
}

.page_r1 .p_left .s_location input {
    border: 1.5px solid #D9D9D9;
    padding: 10px;
}

.page_r1 .p_left .s_location .i_box_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

.page_r1 .p_left .s_location .i_box_top input {
    width: 383px;
}

.page_r1 .p_left .s_location .i_box_top button {
    width: 114px;
}


.page_r1 .p_left .s_location .i_box_bottom input {
    width: 100%;
}

.page_r1 .p_right {
    width: 45%;
}

.page_r1 .p_right>div {
    margin-bottom: 55px;
}

.page_r1 .p_right h4 {
    margin-bottom: 19px;
}

.page_r1 .p_right .l_operat .d_i {
    display: flex;
    width: 100%;

}

.page_r1 .p_right .l_operat .date_box {
    margin-right: 10px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_r1 .p_right .l_operat input {
    width: 124px;
    height: 44px;
    border-radius: 5px;
    border: 1.5px solid #D9D9D9;
    padding: 8px;
}

.page_r1 .p_right .count .op_box {
    display: flex;
    width: 438px;
    justify-content: space-between;
}

.page_r1 .p_right .count .op_box>div {
    border-radius: 5px;
    width: 120px;
    height: 75px;
    box-shadow: 3px 3px 20px #00000017;
    padding: 9px 0 0 18px;
}

.page_r1 .p_right .count .op_box>div h5 {
    margin-bottom: 5px;
}


/* STEP2 시작 */
.page_r2 {
    width: 100%;
}

.page_r2 h4 {
    margin-bottom: 24px;
}

.page_r2 .p_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.page_r2 .p_top .pt_left {
    width: 37%;
}

.page_r2 .p_top .pt_left input,
.page_r2 .p_top .pt_left textarea {
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    border: 1.5px solid #D9D9D9;
    font-size: 13px;
}

.page_r2 .p_top .pt_left .l_name input {
    height: 38px;
}

.page_r2 .p_top .pt_left textarea {
    padding-top: 5px;
    height: 188px;
    color: #919191;
}

.page_r2 .p_top .pt_right {
    width: 54%;
}

.page_r2 .p_top .pt_right .l_pic {
    width: 100%;
    height: 295px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_r2 .p_top .pt_right .l_pic .pic {
    background: #ddd;
    position: relative;
    cursor: pointer;
}

.page_r2 .p_top .pt_right .l_pic .pic img {
    width: 100%;
    height: 100%;
}

.page_r2 .p_top .pt_right .l_pic .pic .bg_box {
    position: absolute;
    color: #fff;
    line-height: 40px;
    bottom: 0;
    left: 0;
    font-weight: 300;
    width: 100%;
    height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

.page_r2 .p_top .pt_right .l_pic .main_pic {
    width: 49%;
    height: 100%;
}

.page_r2 .p_top .pt_right .l_pic .sub {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_r2 .p_top .pt_right .l_pic .sub .sub_pic {
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: space-between;
}

.page_r2 .p_top .pt_right .l_pic .sub .sub_pic .s_p {
    width: 48%;
}

.page_r2 .p_bottom .icon_box {
    display: flex;
}

.page_r2 .p_bottom .icon_box li {
    margin-right: 11px;
}



/* STEP3 시작~ */

.page_r3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page_r3 input {
    width: 285px;
    height: 38px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1.5px solid #D9D9D9;
    font-size: 13px;
}

.page_r3 select {
    height: 38px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1.5px solid #D9D9D9;
    font-size: 13px;
}

.page_r3 button.pink {
    width: 105px;
    height: 38px;
    border-radius: 5px;
    border: 0;
    margin-right: 0;
}


.page_r3 .p3_left {
    width: 505px;
    height: 592px;
    border-radius: 15px;
    box-shadow: 3px 3px 20px #00000017;
    display: flex;
    flex-direction: column;
    padding: 55px 54px;
    justify-content: space-between;
}

.page_r3 .p3_left h4 {
    margin-bottom: 29px;
}

.page_r3 .p3_left .l_top h4 {
    display: flex;
    align-items: center;
}

.page_r3 .p3_left .l_top h4 p {
    color: #ed5977;
    margin-left: 10px;
}

.page_r3 .p3_left .l_middle .select_btn {
    display: flex;
    justify-content: space-between;
}

.page_r3 .p3_left .l_middle .select_btn select {
    width: 285px;
}

.page_r3 .p3_left .l_bottom .i_box {
    display: flex;
    flex-direction: column;
}

.page_r3 .p3_left .l_bottom .i_box select {
    width: 128px;
    margin-bottom: 12px;
}

.page_r3 .p3_right {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_r3 .p3_right h4 {
    margin-bottom: 46px;
}

.page_r3 .p3_right .select_btn button {
    margin-bottom: 15px;
}

.page_r3 .p3_right .r_bottom .cute_2 {
    position: relative;
}

.page_r3 .p3_right .r_bottom .cute_2 img {
    position: absolute;
}

.page_r3 .p3_right .r_bottom .cute_2 img:nth-child(1) {
    left: 110px;
    top: 40px;
    animation: move infinite 1.3s;
    transition: all 0.6s;
}

@keyframes move {
    0% {
        top: 40px;
    }

    50% {
        top: 30px;
    }

    100% {
        top: 40px;
    }
}

.page_r3 .p3_right .r_bottom .cute_2 img:nth-child(2) {
    right: 170px;
    top: -70px;
    animation: move2 infinite 1.5s;
}

@keyframes move2 {
    0% {
        top: -70;
    }

    50% {
        top: -60px;
    }

    100% {
        top: -70;
    }
}



/*페이지 버튼 */
.pagenation_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pagenation_box button {
    width: 136px;
    height: 48px;
    border-radius: 8px;
}

.pagenation_box button.prev {
    background: #9E9E9E;
    margin-right: 10px;
}

.pagenation_box button.next {
    background: #291B3C;
}


.pagenation_box button span {
    color: #fff;
}