@charset "utf-8";

.inner {
    width: 1120px;
    position: relative;
}


.fixed {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
}

i {
    font-size: 10px;
}

p {
    font-size: 14px;
}

span {
    font-size: 16px;
}

b.margin {
    font-size: 22px;
    margin-bottom: 18px;
}

.p_b {
    padding-bottom: 33px;
    border-bottom: 1px solid #C7C7C7;
    padding-top: 32px;
}

header {

    border-bottom: 1px solid #C7C7C7;
    background: #fff;
}


header .inner {
    height: 120px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

header .inner ul.nav_menu {
    width: 240px;
    height: 320px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #00000017;
    position: absolute;
    right: 0;
    top: 110px;
    z-index: 60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;

}

header .inner ul.nav_menu.on {
    display: flex;
}

header .inner ul.nav_menu li {
    width: 100%;
    cursor: pointer;
}

header .inner ul.nav_menu li:nth-child(4),
header .inner ul.nav_menu li:nth-child(6) {
    padding-top: 6px;
    margin-top: 6px;
    border-top: 1px solid #C7C7C7;
}

header .inner ul.nav_menu li p {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40px;
}

header .inner ul.nav_menu li p:hover {
    background: #f4f4f4;
}

header .inner ul.search {
    width: 855px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 34px;
    border-radius: 33px;
    border: 1px solid #C7C7C7;
    box-shadow: 3px 3px 20px #00000017;
}

header .inner .user {
    width: 263px;
    height: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .inner .user a {
    font-size: 14px;
    text-decoration: underline;
}

header .inner .user .profile {
    padding: 6px 14px 6px 6px;
    width: 156px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #291B3C;
    border-radius: 28px;
}

header .inner .user .profile p {
    font-weight: 800;
}

/* 

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
    margin-bottom: 24px;
    padding-top: 31px;
} */

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
}

i {
    font-size: 10px;
}

p {
    font-size: 14px;
}

p.gray_c {
    color: #888;
}

span {
    font-size: 16px;
}

.inner_nav {
    margin-top: 120px;
    width: 100%;
    height: 123px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.inner_nav ul {
    width: 860px;
    height: 52px;
    display: flex;
}

.inner_nav ul li {
    width: 12.5%;
    text-align: center;
    line-height: 51px;
    height: 100%;
    cursor: pointer;
}

.inner_nav ul li.active {
    border-bottom: 4px solid #ED5977;
    color: #ed5977;
}

.r_manage {
    width: 100%;
    padding-top: 47px;
}

.r_manage .r_m_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.r_manage .r_m_top .t_right {
    display: flex;
    width: 329px;
    height: 38px;
    align-items: center;
    justify-content: space-between;
}

.r_manage .r_m_top .t_right select {
    width: 134px;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
}

.r_manage .r_m_top .t_right i,
.r_manage .r_m_top .position_i {
    width: 38px;
    height: 100%;
    font-size: 16px;
    background: #E3E3E3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.r_manage .r_m_top .position_i {
    position: relative;
}

.r_manage .r_m_top .position_i i {
    position: absolute;
    display: none;
}

.r_manage .r_m_top .position_i i.view {
    display: flex;  animation: infinite linear 1.5s plus;
}

.r_manage .r_m_top a {
    animation: infinite linear 1.5s plus;height: 38px;
}

@keyframes plus {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }

}

.view_style {
    width: 100%;
    height: 720px;
    position: relative;
}

.view_style img {
    width: 100%;
    height: 100%;
}

.view_style i {
    font-size: 20px;
    color: #707070;
    position: relative;
}

.view_style p.un_line {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.view_style .option_box {
    position: absolute;
    right: 12px;
    top: 0;
    background: #fff;
    width: 98px;
    height: 68px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px #00000017;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 15;
    display: none;
}

.view_style .option_box.on {
    display: flex;
}

.view_style .option_box.on li {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;


}

.view_style .option_box li:hover {
    background: #e4e4e4;
}

/* 리스트 스타일 css */
.r_m_list {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.r_m_list.view {
    display: block;
}

.r_m_list .list_style {}

.r_m_list .list_style li {
    margin-left: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.r_m_list .list_style li .img_re img {
    width: 64px;
    height: 64px;
}

.r_m_list .list_style li .one {
    display: flex;
    align-items: center;
    width: 484px;
}

.r_m_list .list_style li .two {
    width: 261px;
}

.r_m_list .list_style li .three {
    width: 172px;
    display: flex;
    align-items: center;
}

.r_m_list .list_style li .three .color_lamp {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5968ed;
    margin-right: 12px;
}

.r_m_list .list_style li:nth-child(3) .three .color_lamp {
    background: #FFB558
}

.r_m_list .list_style li:nth-child(4) .three .color_lamp {
    background: #FF0000
}

.r_m_list .list_style li:nth-child(5) .three .color_lamp {
    background: #8F8F8F
}

.r_m_list .list_style li .fourth {
    width: 96px;
}

.r_m_list .list_style li .last {
    position: relative;
}




.r_m_list .list_style li.list_top {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #C7C7C7;
}

.r_m_list .list_style li.list_con {
    height: 88px;
}

.r_m_list .list_style li.list_con .img_box {
    width: 64px;
    height: 64px;
    margin-right: 22px;
    background: #ddd;
}


/* 썸네일로 보기 css */
.r_m_thumbnail {
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.r_m_thumbnail.view {
    display: block;
}

.r_m_thumbnail i {
    color: #fff;
}

.r_m_thumbnail ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.r_m_thumbnail ul li {
    width: 304px;
    cursor: pointer;

}

.r_m_thumbnail ul li .img_re {
    width: 100%;
    height: 304px;
    border-radius: 15px;
    background: #ccc;
    overflow: hidden;
    margin-bottom: 12px;
    position: relative;
}

.r_m_thumbnail ul li .img_re .img_re_top {
    position: absolute;
    top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.r_m_thumbnail ul li .img_re .img_re_top .t_left {
    display: flex;
    align-items: center;
    padding-left: 12px;
    background: #fff;
    width: 90px;
    height: 34px;
    border-radius: 17px;

}

.r_m_thumbnail ul li .img_re .img_re_top .t_left p {
    color: #888;
}

.r_m_thumbnail ul li .img_re img {
    width: 100%;
}

.r_m_thumbnail ul li .color_lamp {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5968ed;
    margin-right: 7px;
}

.r_m_thumbnail ul li:nth-child(1) .color_lamp {
    background: #FFB558
}

.r_m_thumbnail ul li:nth-child(2) .color_lamp {
    background: #FF0000
}

.r_m_thumbnail ul li:nth-child(3) .color_lamp {
    background: #8F8F8F
}


/* 반려 사유 모달 */
.refuse_modal {
    width: 315px;
    height: 212px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px 20px #00000017;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 20px;
    display: none;
}

.refuse_modal.active {
    display: flex;
}

.refuse_modal i {
    font-size: 45px;
    color: #ffb558;
    margin-bottom: 5px;
}

.refuse_modal p {
    margin-bottom: 5px;
}

.refuse_modal button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 66px;
    height: 33px;
    border-radius: 3px;
    background: #e3e3e3;
}